html, body {
    height: 100%;
    width: 100%;
    background: #d8d2d2;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eae4e4;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(20px);
    }

    50% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

.loginBlock {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 530px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: #2196f330;
    border: 1px solid #03A9F4;
}

.loginBlockActive {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 530px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: #2196f330;
    border: 2px solid red;
    animation: shake 0.3s ease-in;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.userLogin {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;

}

.userLoginActive {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border: 2px solid red;
    animation: shake 0.3s ease-in;

}

#userMail {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.userPass1 {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.userPass1Active {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border: 2px solid red;
    animation: shake 0.3s ease-in;
}

userPass2 {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

#submitButton {
    width: 265px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    background: #03A9F4;
    border: none;
    outline: none;
}








/* ÃƒÂÃ…Â¸ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â³ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â´ÃƒÂÃ‚Â° php */

.weather {
    width: 130px;
    background: #9E9E9E;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 6px;
    border: 1px #000 solid;
    margin: 20px;
}

.queryCityBlock {
    margin: 0 auto;
    background: #000000;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}

.wrappers {
    background: #82abbd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.temp {
    font-size: 50px;
    font-weight: bold;
}

.iconWeather {
    width: 70px;
}